.nav-head h1{
   font-weight: 700;
}
.caption h1{
    font-size: 50px;
}








@media screen and(max-width:576px) {
    .carousel-text{
        padding: 0;
        margin: 0;
    }
    .reverse-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .hidetext{
       display: none;
    }
    
}

