.edtech-bg-black{
    background-color: #161616;
}
.edtech-ready-to-join-bg{
    background-color: #289BDE;
}
.register-btn{
    color:#289BDE;
}
.edtech-all-btn{
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
}
.logo-icon img{
    width: 100px;
    
}
.nav-head h1{
   font-weight: 700;
}
.caption h1{
    font-size: 50px;
}
.footer-icon ul li{
    list-style-type: none;
    margin: 0 10px;
}






@media screen and(max-width:576px) {
   

    .hidetext{
       display: none;
    }
    
}

